@{
    var getRole = Context.Session.GetString("UserRole");
    //Role Based Navigation Bar
}

<div class="shadow-y flex h-20 w-full items-center justify-between px-8">
    <div class="flex flex-row items-center justify-center gap-5">
        <img src="~/res/book.png" class="h-16 w-16 drop-shadow-lg" />
        <label class="text-lg font-bold text-[#152852]">MiManuTMS</label>
    </div>
    @if(getRole == "Admin") // Admins
    {
        <div class="flex flex-row gap-8">
            <a class="flex flex-row items-center justify-center gap-4" asp-area="" asp-controller="Home" asp-action="Dashboard">
                <label class="cursor-pointer rounded-xl px-4 py-2 text-lg text-[#152852] duration-300 @(ViewData["ActivePage"] as string == "Dashboard" ? "bg-[#152852] text-white" : "") hover:bg-[#152852] hover:text-white">Home</label>
            </a>
            <a class="flex flex-row items-center justify-center gap-4" asp-area="" asp-controller="Auth" asp-action="Register">
                <label class="cursor-pointer rounded-xl px-4 py-2 text-lg text-[#152852] duration-300 @(ViewData["ActivePage"] as string == "Register" ? "bg-[#152852] text-white" : "") hover:bg-[#152852] hover:text-white">Register</label>
            </a>
        </div>

    }
    else //Employee || Trainor
    {
        <div class="flex flex-row gap-8">
            <a class="flex flex-row items-center justify-center gap-4 duration-300" asp-area="" asp-controller="Home" asp-action="Dashboard">
                <label class="cursor-pointer rounded-xl px-4 py-2 text-lg text-[#152852] duration-300 @(ViewData["ActivePage"] as string == "Dashboard" ? "bg-[#152852] text-white" : "")">Home</label>
            </a>
            <a class="flex flex-row items-center justify-center gap-4 duration-300" asp-area="" asp-controller="Courses" asp-action="Course">
                <label class="cursor-pointer text-lg text-[#152852]">Courses</label>
            </a>
            <a class="flex flex-row items-center justify-center gap-4 duration-300">
                <label class="cursor-pointer text-lg text-[#152852]">Diagnostic</label>
            </a>
            <a class="flex flex-row items-center justify-center gap-4 duration-300" asp-area="" asp-controller="Auth" asp-action="Profile">
                <label class="cursor-pointer rounded-xl px-4 py-2 text-lg text-[#152852] @(ViewData["ActivePage"] as string == "Profile" ? "bg-[#152852] text-white" : "")">Settings</label>
            </a>
        </div>
    }
    <div class="flex flex-row gap-5">
        <div class="flex flex-row items-center justify-center gap-5">
            <a asp-area="" asp-controller="Auth" asp-action="Profile">
                <div class="flex flex-row items-center justify-center gap-5">
                    @Context.Session.GetString("FirstName") @Context.Session.GetString("LastName")
                    <img src="@Context.Session.GetString("UserImg")" class="h-12 w-12 rounded-full shadow-sm shadow-[#152852]" />
                </div>
            </a>
            <a asp-area="" asp-controller="Auth" asp-action="Logout">
                <div class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-[#152852] shadow-sm duration-300 hover:bg-[#0B162D]">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="28.1818" height="28.1818" transform="translate(0.90918 0.909119)" fill="" />
                        <path d="M9.12891 9.28376V7.86967C9.12891 5.72377 9.12891 4.65082 9.8185 4.05274C10.5081 3.45466 11.5703 3.60639 13.6946 3.90987L20.4168 4.87019C22.873 5.22107 24.101 5.3965 24.8347 6.2424C25.5683 7.08829 25.5683 8.32882 25.5683 10.8099V19.1902C25.5683 21.6713 25.5683 22.9118 24.8347 23.7577C24.101 24.6036 22.873 24.779 20.4168 25.1299L13.6946 26.0902C11.5703 26.3937 10.5081 26.5454 9.8185 25.9474C9.12891 25.3493 9.12891 24.2763 9.12891 22.1304V20.9487" stroke="white" stroke-width="3" />
                        <path d="M19.697 15.0001L20.8683 14.063L21.618 15.0001L20.8683 15.9371L19.697 15.0001ZM5.60611 16.5001C4.77768 16.5001 4.10611 15.8285 4.10611 15.0001C4.10611 14.1716 4.77768 13.5001 5.60611 13.5001V16.5001ZM16.1714 8.1918L20.8683 14.063L18.5257 15.9371L13.8287 10.0659L16.1714 8.1918ZM20.8683 15.9371L16.1714 21.8083L13.8287 19.9342L18.5257 14.063L20.8683 15.9371ZM19.697 16.5001H5.60611V13.5001H19.697V16.5001Z" fill="white" />
                    </svg>
                </div>
            </a>
        </div>
    </div>

</div>